node_modules

.env
.env.test
.env.example
.env.test.example

.git
.gitignore

logs
uploads
coverage
tests

README.md
docker-compose.yaml
prueba-documento.pdf

npm-debug.log
*.log
*.tmp

Dockerfile
.dockerignore

.DS_Store
Thumbs.db
